@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>
<hr />

<h4>Edit this Product: @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Origincountry)
    @Html.EditorFor(model => model.Origincountry)

    @Html.LabelFor(model => model.Cost)
    @Html.EditorFor(model => model.Cost)

    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" class="btn btn-success" />
}

@Html.ActionLink("Back to Products List", "Index")
